div {
    font-size: 100px;
    display: inline-block;


}

#cardGrid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-auto-rows: 100px;
    gap: 10px;
}

#cardGrid div{
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}